html, body, p, a {
    margin: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--color-ui-darkest);
}

/* set scrollbar style for all scrollable elements */
* {
    scrollbar-color: var(--color-ui-grey) transparent;
    scrollbar-width: thin;
}

.chatter {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    text-align: center;
    max-width: var(--site-width);
    padding: var(--spacing);
    font-family: var(--font-family);
    color: lightdark(var(--color-ui-dark), var(--color-ui-white));
}

.chatter:has(.chatter__workspace) {
    max-width: unset;
    width: 100%;
    padding: 0;
}