.chatter__workspace {
    min-height: 100vh;
    max-height: 100vh;
}

.chatter__file-explorer {
    border-right: 1px solid var(--color-ui-dark);
    background-color: var(--color-ui-darkest);
    min-height: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

.chatter__workspace-editor {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    min-width: calc(100% - var(--sidebar-width));
}

.chatter__editor-pane .chatter__container {
    height: 100%;
    border-top: 1px solid var(--color-ui-dark);
    padding: var(--spacing-small);
    gap: 0;
    box-sizing: border-box;
}

.chatter__editor-pane .chatter__composer {
    margin-top: var(--spacing-small);
    margin-block-start: auto;
}